/* C O L O R S */
:root {
  --gradient-light: #0EF0E1;
  --gradient-royal: #02A4D7;
  --logo-green: #40EBC2;
  --logo-aqua: #0DE7E1;
  --logo-sky: #00C7D5;
  --background-dark-blue: #001B38;
  --background-dark-green: #001F26;
  --background-dark-blue-2: #09253F;
  --navbar-gradient-dark: #011116;
  --navbar-gradient-light: #00C2FF;
  --sidebar-button: #2CD8AF;
}